#downloadPageHeader {
    display: flex;
    align-items: center;
    gap: 12px;

    h2 {
        color: var(--on-background);
        margin: 0;
        font-size: 26px;
        user-select: none;
    }

    path {
        fill: var(--on-background-hover);
        transform: rotate(90deg) translate(0px, -18px);
        transition: all .3s ease-in-out;
    }


}

.backBtn {
    appearance: none;
    background: var(--btn-background);
    border: none;
    padding: 8px;
    margin-left: -8px;
    border-radius: 50%;
    transition: all .3s ease-in-out;
}

.backBtn:hover {
    background: var(--btn-background-hover);

    path {
        fill: var(--on-background);
        transform: rotate(90deg) translate(0px, -18px);
    }
}

/* 为用于打开和关闭可折叠内容的按钮设置样式 */
.collapsible {
    background-color: var(--primary-color-50);
    cursor: pointer;
    padding-top: 10px;
    padding-bottom: 10px;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    user-select: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    transition: all .3s ease-in-out;

    h5 {
        color: var(--on-background);
        margin: 0;
        font-size: 20px;
        font-weight: 400;
        font-family: "Wix Madefor Display", sans-serif;
    }
}

.infoCard {
    background-color: var(--primary-color-50);
    cursor: auto;
    padding-top: 30px;
    padding-bottom: 30px;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    user-select: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    transition: all .3s ease-in-out;

    h5 {
        color: var(--on-background);
        margin: 0;
        font-size: 20px;
        font-weight: 400;
        font-family: "Wix Madefor Display", sans-serif;
    }
}

/* #collapsibleBtn:active {
    padding-bottom: 20px;
    margin-bottom: 0px;
} */

#toggler:checked+#collapsibleBtn .menubutton {
    .top {
        transition: all .3s ease-in-out;
        transform: rotate(45deg) scaleX(1.25);
        translate: 5.5px -3px;
        fill: var(--on-background);
    }

    .bottom {
        transition: all .3s ease-in-out;
        transform: rotate(135deg) scaleX(1.25);
        translate: 25px 9.75px;
        fill: var(--on-background);
    }
}

.menubutton {
    width: 18px;
    height: 18px;
    position: relative;
    display: block;
    overflow: visible;
    z-index: 8;

    .top {
        transition: all .3s ease-in-out;
        transform: rotate(0deg);
        translate: 0px 0px;
        fill: var(--on-background);
    }

    .bottom {
        transition: all .3s ease-in-out;
        transform: rotate(0deg);
        translate: 0px 0px;
        fill: var(--on-background);
    }
}

/* 如果单击按钮，则为按钮添加背景颜色（使用 JS 添加 .active 类），并且当您将鼠标移到按钮上时（悬停） */
.active,
.collapsible:hover {
    background-color: var(--primary-color);
}

/* 设置可折叠内容的样式。 注意：默认隐藏 */
.changelogs {
    padding: 0;
    margin-top: -10;
    transform: scaleY(0);
    transform-origin: center 0px;
    opacity: 0;
    overflow: hidden;
    background-color: var(--default-background);
    border-radius: 8px 8px 18px 18px;
    transition: all .2s ease-in-out;
    height: 0px;

    #mdBox {
        /* padding: 0; */
        margin: 0;
    }
}

.fold {
    display: flex;
    flex-direction: column;
    gap: 0px;
}

p[info] {
    font-size: 14px;
    opacity: 0.7;
    margin: 0;
    color: var(--on-background);
    user-select: none;
}

h2 {
    font-size: 22px;
    font-weight: 350;
    margin: 0;
    color: var(--on-background);
}

.infoContent {
    display: flex;
    gap: 10px;
    flex-direction: column;
    width: 100%;
}

#deviceinfo {
    display: flex;
    flex-direction: column;
    gap: 28px;
}

.headshot {
    width: 48px;
    height: 48px;
    border-radius: 50%;
}

.maintainerName,
.maintainerID {
    margin: 0;
    line-height: normal;
}

.maintainerID {
    opacity: 0.75;
    font-size: 14px;
}

.maintainerName {
    font-weight: 400;
    font-size: 18px;
}

.maintainerInfo {
    display: flex;
    flex-direction: column;
    gap: 2px;
    align-items: flex-start;
}

.maintainerInfoBox {
    display: flex;
    align-items: center;
    gap: 12px;
    color: var(--on-background);
}

#infoCard {
    background: unset;
}

.infoFlex {
    display: flex;
    flex-direction: row;
}