#intro {
    padding: 20px;
}

h1 {
    font-size: 42px;
    font-weight: normal;
    letter-spacing: 4px;
    line-height: 52px;
    color: #FFFFFF;
    text-align: left;
    vertical-align: top;

}