.menubutton {
    width: 18px;
    height: 18px;
    position: relative;
    overflow: visible;
    z-index: 8;

    .top {
        transition: all .3s ease-in-out;
        transform: rotate(0deg);
        translate: 0px 0px;
        fill: var(--on-background);
    }

    .bottom {
        transition: all .3s ease-in-out;
        transform: rotate(0deg);
        translate: 0px 0px;
        fill: var(--on-background);
    }
}

label {
    transform: scaleX(1);
    position: static;
    z-index: 8;
}

header {
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 0px;
    z-index: 6;
    font-family: Wix Madefor Display, sans-serif;
    align-items: center;
    margin: 0;
    transition: all .3s cubic-bezier(0.50, 0.15, 0.5, 0.85);
    background: var(--none-background);
    backdrop-filter: blur(0px);
    opacity: 1;

    #logo {
        svg {
            #logoTop {
                transition: all .3s ease-in-out 0s;
                fill: var(--on-background);
            }

            #logoBottom {
                transition: all .3s ease-in-out 0s;
                fill: var(--on-background);
            }
        }
    }

    #logo:hover {
        svg {
            #logoTop {
                fill: #68ABF7;
            }

            #logoBottom {
                fill: #3E47F0;
            }
        }
    }

    .menu {
        display: flex;
        justify-content: space-between;
        user-select: none;

        .menuli {
            display: block;
            font-size: 13px;
            line-height: 18px;
            color: var(--on-background);
            transition: all .3s ease-in-out 0s;
            opacity: 0.7;
            border-bottom: solid 1px var(--none-on-background);
            font-weight: 300;
        }

        .menuli:hover {
            color: var(--on-background);
            opacity: 1;
            border-bottom: solid 1px var(--on-background);
            font-weight: 500;
        }
    }
}

#toggler {
    display: none;
}

@media (min-width: 900px) {
    header {
        padding-top: 20px;
        padding-bottom: 20px;
        padding-left: 72px;
        padding-right: 72px;
        width: calc(100% - 144px);
        max-width: 1440px;
    }
}

@media (max-width: 900px) {
    header {
        padding-top: 20px;
        padding-bottom: 20px;
        padding-left: 20px;
        padding-right: 20px;
        width: calc(100% - 40px);
    }
}

@media (max-width: 500px) {
    header {
        padding-top: 20px;
        padding-bottom: 20px;
        padding-left: 20px;
        padding-right: 20px;
        width: calc(100% - 40px);
        width: calc(100% - 40px);
    }
}

svg {
    z-index: 8;
}

.menuHoverBar {
    display: none;
}

#toggler:checked~.menu {
    transform: scaleY(1);
    opacity: 1;
    fill: var(--on-background);
}

#toggler:checked+.hamberger-btn span:nth-child(1) {
    transform: scale(0.75) rotate(45deg);
    top: 8px;
    width: 22px;
    margin-left: -2px;
    transition: width .5s ease-in-out, margin-left .5s ease-in-out, transform .25s ease-in-out .5s, top .25s ease-in-out .25s;
}

#toggler:checked+.hamberger-btn span:nth-child(2) {
    transform: scale(0.75) rotate(-45deg);
    top: 6px;
    width: 22px;
    margin-left: -2px;
    transition: width .5s ease-in-out, margin-left .5s ease-in-out, transform .25s ease-in-out .5s, top .25s ease-in-out .25s;
}

.hamberger-btn {
    display: block;
    height: 18px;
    width: 18px;
    user-select: none;
}

.hamberger-btn span {
    transform: scale(0.75) rotate(0deg);
    display: block;
    height: 2px;
    width: 18px;
    top: 4px;
    margin-left: 0px;
    position: relative;
    background-color: var(--on-background);
    user-select: none;
    transition: width .5s ease-in-out, margin-left .5s ease-in-out, transform .25s ease-in-out .25s, top .25s ease-in-out .5s;
}

.hamberger-btn span:nth-child(2) {
    top: 9px;
}

.menu {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: calc(100% - 64px);
    height: calc(100vh - 104px);
    position: fixed;
    left: 0;
    top: 0;
    opacity: 0;
    padding: 72px 32px 32px 32px;
    gap: 24px;
    transform: scaleY(0);
    transition: all .4s cubic-bezier(1, 0, 0, 1);
    transform-origin: center 0px;
    background-color: var(--default-background);

    .menuli {
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 24px;
        line-height: 30px;
        opacity: 0.8;
        transition: all .3s ease-in-out 0ms;
        border: none;

        #hoverMenuBox {
            margin-top: 186px;
            position: fixed;
            display: flex;
            flex-direction: column;
            gap: 14px;
            padding: 20px 0px;
            transform: scaleY(0);
            transform-origin: center 0px;
            opacity: 0;
            transition: all .3s cubic-bezier(1, 0, 0, 1);
            margin-left: 0px;
            top: 0px;

            li {
                display: flex;
                letter-spacing: 0;
                font-size: 20px;
            }
        }
    }

    .menuli:hover {
        opacity: 1;
        border: none;
    }

    #design {
        #arrow {
            transform: rotate(0turn);
            transition: all .3s ease-in-out 0s;
        }
    }

    #design:hover {
        padding-bottom: 136px;

        #arrow {
            position: static;
            display: block;
            transform: rotate(0.25turn);
            transition: all .3s ease-in-out 0s;
        }

        #hoverMenuBox {
            opacity: 1;
            transform: scaleY(1);
            margin-left: 0px;
            top: 0px;
        }
    }
}